parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  ignoreErrors:
    - '#mixed given#'
    - '#iterable type#'
    - '#of new static#'
    - '#generic interface#'
    - '#destructuring on mixed#'
    - identifier: trait.unused
    - '#expects int<1, max>#'
  reportUnmatchedIgnoredErrors: false
